/*
- ELEMENTS
- FONTS
- GENERICS (regras genericas. não aprendi o que é)
- UTILITIES
- RESET (reset de elementos)
*/



/*-----------------------------------*\
  #FONTS
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
/**/



/*-----------------------------------*\
  #VARIABLES
\*-----------------------------------*/

:root {
    /**
     * COLORS
    */

    /* Primary */

    --color1: #684BB1;
    --color2: #E880E8;
    --color3: #FF52C1;

    /* Neutral */

    --neutral1: hsla(0, 0%, 100%, 1);
    --neutral2: hsla(230, 60%, 8%, 1);


    /**
     * TYPOGRAPHY
    */

    /* Font Families */

    --ff-body: 'Open Sans', sans-serif;
    --ff-title: 'Poppins', sans-serif;


    /* Font Sizes */

    /* @link https://utopia.fyi/type/ */


    /* Step 0: 16px → 18px */
    --step-0: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);

    /* Step 0: 24px → 40px */
    --step-1: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);


    /**
     * MEASUREMENTS
    */

    /* Space 2xs: 8px → 12px */
    --space-2xs: clamp(0.5rem, 0.412rem + 0.3756vw, 0.75rem);
    /* Space xs: 12px → 18px */
    --space-xs: clamp(0.75rem, 0.618rem + 0.5634vw, 1.125rem);
    /* Space s: 16px → 24px */
    --space-s: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
    /* Space m: 24px → 36px */
    --space-m: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
    /* Space l: 32px → 48px */
    --space-l: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
    /* Space xl: 48px → 72px */
    --space-xl: clamp(3rem, 2.4718rem + 2.2535vw, 4.5rem);
    /* Space 2xl: 72px → 108px */
    --space-2xl: clamp(4.5rem, 3.7077rem + 3.3803vw, 6.75rem);
    /* Space 3xl: 108px → 162px */
    --space-3xl: clamp(6.75rem, 5.5616rem + 5.0704vw, 10.125rem);

    /* One-up pairs */
    /* Space 2xs-xs: 8px → 18px */
    --space-2xs-xs: clamp(0.5rem, 0.2799rem + 0.939vw, 1.125rem);
    /* Space xs-s: 12px → 24px */
    --space-xs-s: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem);
    /* Space s-m: 16px → 36px */
    --space-s-m: clamp(1rem, 0.5599rem + 1.8779vw, 2.25rem);
    /* Space m-l: 24px → 48px */
    --space-m-l: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);
    /* Space l-xl: 32px → 72px */
    --space-l-xl: clamp(2rem, 1.1197rem + 3.7559vw, 4.5rem);
    /* Space xl-2xl: 48px → 108px */
    --space-xl-2xl: clamp(3rem, 1.6796rem + 5.6338vw, 6.75rem);
    /* Space 2xl-3xl: 72px → 162px */
    --space-2xl-3xl: clamp(4.5rem, 2.5194rem + 8.4507vw, 10.125rem);
}

@media (min-width: 770px) {
    :root {

        /**
         * TYPOGRAPHY
        */

        /* Font Sizes */



    }
}

@media (min-width: 1100px) {
    :root {

        /**
         * TYPOGRAPHY
        */

        /* Font Sizes */


    }
}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    outline: none;
}




/*-----------------------------------*\
  #ELEMENTS
\*-----------------------------------*/

input {
    width: 100%;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-weight: 500;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-body);
    font-weight: 800;
    color: #FFFFFF;
}

html {
    font-family: var(--ff-body);
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: var(--fs-standard);
    font-family: var(--ff-body);
    overflow-x: hidden;
    background-color: var(--color1);
    color: var(--neutral1);
    min-height: 100vh;
}